<h1>Edit company</h1>

{{!-- Redirect to POST /edit-company/{{company._id}} --}}
<form action="/edit-company/{{company._id}}" method="post">

  {{!-- Define a req.body.name --}}
  Name: <input type="text" name="name" value="{{company.name}}"><br>
  {{!-- Define a req.body.number_of_employees --}}
  Number of employees: <input type="number" name="number_of_employees" value="{{company.number_of_employees}}"><br>
  {{!-- Define a req.body.description --}}
  Description: <textarea name="description">{{company.description}}</textarea><br>
  
  <button>Update</button>

</form>